.neumorphic-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #cfcfcf, 
                -10px -10px 30px #ffffff;

    width: 60%;
    margin-top: 20px;
    margin-left: 40px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  select {
    display: list-item;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #cfcfcf, 
                -5px -5px 15px #ffffff;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  button {
    background-color: #f2f2f2;
    
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 5px 5px 15px #cfcfcf, 
                -5px -5px 15px #ffffff;
    
    cursor: pointer;
  }

  button:hover {
    background-color: #e6e6e6;
  }

  .modal_form{
    background-color: #eaedf3;
    padding: 20px 30px;
    /* border-radius: 20px; */

    width: 60%;
    margin-top: 20px;
    margin-left: 40px;
  }

  .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal_button {
    background-color: #efebeb;
    
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 5px 5px 15px #cfcfcf, 
                -5px -5px 15px #ffffff;
    width: 100px;
    cursor: pointer;
  }

  .modal_button:hover{
    background-color: #d5d0d0;
  }

  .modal_label {
    display: block;
    color: black;
    margin-bottom: 0px;
  
  }

  .modal_input{
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border: none;
    height: 30px;
  }
